{% extends 'base.html.twig' %}

{% block title %}Hello EditorController!{% endblock %}

{% block body %}

{% for game in games %}
<div class="card mt-3">
  <div class="card-body">
    <div class="row">
        <div class="col-md-3 d-flex">
            <img class="image img-fluid py-5 px-5" src="{{game.cover }}">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title text-center" style="background-color:white">{{game.name }}</h5>
                <p class="card-text mt-5" style="background-color:white">{{ game.description }}</p>
                <div class="sortie">
                    Sortie le : <span style="font-weight:bold"> {{ game.date |date('d-m-Y') }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer mb-2">
        <p>Editeur(s) / Développeur(s) : </p>
    </div>
    <div class="card-footer mb-2">
        <p>Sortie :  <span style="font-weight:bold"> {{ game.date |date('d-m-Y') }}</span></p>
    </div>
    <div class="card-footer mb-2">
        <p>Classification : + {{ game.classification }}ans</p>
    </div>
    <div class="card-footer mb-2">
        Jeuxvidéo.com : <a href="{{ game.link }}">{{ game.link }}</a>
    </div>
  </div>
</div>
{% endfor %}



{% endblock %}
